*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body {
   font-size: 100%;
   list-style-type: none;
}



body {
   background-color: hsl(212, 45%, 89%);
   font-size: 15px;
   font-family: 'Outfit', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.container {

   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

}

.card {
   max-width: 20rem;
   background-color: hsl(0, 0%, 100%);
   border-radius: 0.938rem;
   text-align: center;
}

.card-image {
   width: 90%;
   border-radius: 0.625rem;
   margin: 5%;
 }

.card-description {
   margin: 5% 5% 12%;
   padding: 0 5%;
}

img {
   width: 285px;
   height: 285px;
   width: 100%;
   border-radius: 0.625rem;
   max-height: 18rem;
   max-width: 18rem;
}

h1 {
   font-size: 1.375rem;
   font-family: 'Outfit', sans-serif;
   font-weight: 700px;
   color: hsl(218, 44%, 22%);
   text-align: center;
   width: 100%;
}

p {
   font-size: 0.94rem;
   font-family: 'Outfit', sans-serif;
   font-weight: 400px;
   color: hsl(220, 15%, 55%);
   text-align: center;
}

.footerInfo {
   font-size: 11px;
   text-align: center;
   padding-bottom: 5%;
}

.footerInfo a {
   color: hsl(220, 45%, 44%)
}